<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" style="
    margin-right: 50px;
" href="#"><img src="/assets/logo.png" width="60" height="60" alt="" style="
  margin-right: 20px;
"> Pizza 42</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Menu</a>
      </li>

    </ul>

    <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/cart"><fa-icon [icon]="faShoppingCart"> </fa-icon> Checkout</a>

  <button class="btn btn-outline-success my-2 my-sm-0" (click)="auth.loginWithRedirect()" style="
    margin-left: 50px;
"> <fa-icon [icon]="faSignInAlt"></fa-icon>  Login</button>


  </div>
</nav>
